{% extends 'SGCapp/body.html' %}
{% load widget_tweaks %}
{% block content %}
<!-- plantilla para hacer los deletes -->
<form action="." method="post">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-trash"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
           {% csrf_token %}
           <!-- estas dos lines son para debugear -->
          <!-- <input type="hidden" name="action" value="{{ action }}">
           <input type="hidden" name="id" value="{{ object.id }}"> -->
            <!-- esta linea contiene los errores -->
           <!-- {{ form.errors }} -->
           {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="icon fas fa-ban"></i> Ocurrio un error al querer guardar el registro</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="alert alert-danger alert-dismissible">
                <h5><i class="icon fas fa-ban"></i> Aviso!</h5>
                ¿Estas seguro de eliminar el registro nro {{ object.id }}?
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-save"></i> De acuerdo!
            </button>
            <a href="{{ list_url }}" class="btn btn-info btn-flat btnTest">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>
<script type="application/javascript">

$('form').on('submit', function (e) {
    e.preventDefault();
    var parameters = $(this).serializeArray();
    submit_with_ajax(window.location.pathname, 'Notificación', '¿Vas a eliminar un registro, seguro?', parameters, function () {
        location.href = '{{ list_url }}';
    });
});
//comento la funcion ajax ya que es reempplazada por esta otra funcion ajax submit_with_ajax
// $(function(){
//     $('form').on('submit', function (e) {
//         e.preventDefault();
//         var parameters = $(this).serializeArray();
//         $.ajax({
//             url: window.location.pathname,
//             type: 'POST',
//             data: parameters,
//             dataType: 'json'
//         }).done(function (data) {
//             console.log(data);
//             if (!data.hasOwnProperty('error')) {
//                 location.href = '{{ list_url }}';
//                 return false;
//             }
//             message_error(data.error);
//         }).fail(function (jqXHR, textStatus, errorThrown) {
//             alert(textStatus + ': ' + errorThrown);
//         }).always(function (data) {
//
//         });
//     });
//
// });


</script>
{% endblock %}
