{% extends 'SGCapp/list.html'%}
{% load static %}

{% block head_list %}
    <script type="text/javascript" src="{% static 'comprobante/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th style="width: 15%;">Nro</th>
    <th style="width: 20%;">Dni_Cliente</th>
    <th style="width: 20%;">Fecha_comprobante</th>
    <th style="width: 20%;">Monto</th>
    <!-- <th style="width: 20%;">Monto_cancelado</th> -->
    <th style="width: 15%;">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}
<script type="application/javascript">

</script>
{% endblock %}
